.navbar {
display: flex;
background-color: black;
  .left {
    
    span {
      
    }
    .search {
      display: flex;
      align-items: center;

      input {
      }
    }
  }
  .right {
    
    .user {
      img {
      }
      span {
      }
    }
  }
}
